.Content {
  display: flex;
  font-size: 1.5rem; 
  padding: 2rem 0;
}

.Content__greeting {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $faint-grey;
  width: 28rem;
  margin-right: 2rem;

  &__message {
    padding: 1rem;
  }
}