.Content {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem; 
  padding: 1rem;

  @media (min-width: 1150px) {
    flex-direction: row;
    font-size: 1.5rem; 
    padding: 2rem 0;
  }
}

.Content__greeting {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $faint-grey;
  width: 100%;
  margin-bottom: 1rem;

  &__message {
    padding: 1rem;
  }

  @media (min-width: 1150px) {
    margin-right: 2rem;
    width: 28rem;
  }
}