.NotFound__title {
  font-size: 15rem;
  font-weight: 300;
}

.NotFound__url {
  font-size: 3rem;
  margin: 1.5rem 0;
  background: $faded-red;
  padding: 0.6rem;
  color: white;
}

.NotFound__description {
  font-size: 3rem;
  margin: 2rem 0;
}