@import url("https://fonts.googleapis.com/css?family=Dosis:300,500,700");
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
  color: #555; }

html {
  font-size: 62.5%; }

a {
  text-decoration: none; }

.App {
  max-width: 110rem;
  min-height: 99vh;
  margin: 0 auto; }

.Navigation {
  background: transparent;
  border-bottom: 2px solid rgba(228, 228, 228, 0.25);
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1rem; }

.Navigation__item {
  color: #555;
  text-decoration: none;
  font-size: 2rem;
  margin: 0 1rem; }

.Navigation__item--brand {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  flex: 1; }

.Navigation__item--account {
  border-left: 1.5px solid;
  padding-left: 2rem;
  line-height: 1; }

.Navigation__item--action, .Navigation__item--action--signout, .Navigation__item--action--signin, .Navigation__item--action--signup {
  background: none;
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  margin: 0;
  border: 1px solid #555;
  outline: none;
  transition: all 0.1s ease; }
  .Navigation__item--action:hover, .Navigation__item--action--signout:hover, .Navigation__item--action--signin:hover, .Navigation__item--action--signup:hover {
    background: #555;
    color: white; }
  .Navigation__item--action--signout {
    border-radius: 1px; }
  .Navigation__item--action--signin {
    margin-left: 1.5rem;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px; }
  .Navigation__item--action--signup {
    border-left: none;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px; }

.Content {
  display: flex;
  font-size: 1.5rem;
  padding: 2rem 0; }

.Content__greeting {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #e4e4e4;
  width: 28rem;
  margin-right: 2rem; }
  .Content__greeting__message {
    padding: 1rem; }

.Section {
  display: flex;
  min-height: 80vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding: 2rem; }
  .Section__title {
    font-size: 4.5rem;
    margin-bottom: 1rem; }
  .Section__description {
    width: 35rem;
    text-align: center;
    margin: 1.6rem 0;
    font-size: 1.8rem; }

.Footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 2rem; }
  .Footer span {
    display: inline-block;
    color: #555;
    background: white;
    border: 1px solid #555;
    padding: 0.2rem 0.5rem;
    transition: transform 0.2s ease; }
    .Footer span:hover {
      transform: translateY(-0.4rem); }

.JarList__container {
  border: 1px solid #e4e4e4;
  flex: 1; }

.JarList__header {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #f1f1f1; }

.JarList__header__title {
  flex: 1; }

.JarList__header__controls {
  display: inline-block; }

.JarList__header__filter {
  margin-left: 1rem; }

.JarList__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top: 1px solid #e4e4e4;
  height: 10rem;
  padding: 0.5rem 1rem; }
  .JarList__item--title {
    font-size: 2.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem; }
  .JarList__item--username {
    font-size: 1.6rem; }
  .JarList__item--meta {
    display: flex;
    justify-content: flex-end; }
    .JarList__item--meta span {
      margin: 0 0.5rem; }

.NotFound__title {
  font-size: 15rem;
  font-weight: 300; }

.NotFound__url {
  font-size: 3rem;
  margin: 1.5rem 0;
  background: rgba(184, 22, 22, 0.61);
  padding: 0.6rem;
  color: white; }

.NotFound__description {
  font-size: 3rem;
  margin: 2rem 0; }

.About__title {
  font-size: 4.5rem;
  margin-bottom: 2rem; }

.About__description {
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  width: 50%;
  margin-bottom: 2rem; }

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 35rem;
  margin: 1.5rem; }
  .Form__input {
    width: 100%;
    outline: none;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    font-size: 1.8rem;
    height: 5rem;
    margin-bottom: 1.2rem;
    padding: 1rem; }
  .Form__error {
    margin: 1rem 0 2.5rem 0;
    font-size: 1.8rem;
    background: rgba(184, 22, 22, 0.61);
    padding: 0.4rem;
    color: white; }
  .Form__link {
    font-size: 1.8rem;
    margin: 0.2rem 0; }

.Button {
  border: 1px solid #555;
  border-radius: 1px;
  background: none;
  cursor: pointer;
  outline: none;
  height: 4.5rem;
  min-width: 10rem;
  font-size: 2rem;
  padding: 0.3rem 1rem;
  margin: 1.5rem 0;
  transition: all 0.3s ease; }
  .Button:not([disabled]):hover {
    background: #555;
    color: white; }
  .Button:disabled {
    border-color: #e4e4e4;
    color: #e4e4e4;
    cursor: default; }
